.inline-block {
    display: flex;
   /* justify-content: space-between;*/
    
    
}
/*.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}*/

.navigation {
    display: right;
    background-color:#BA0c2f;
    
    
}

.heroImg{
    height: 600px;
    padding: 25px;
    text-size-adjust: 20;
}
/*class ::content{
    width: 500px;
    margin: 0 auto;
}
*/


.flexContainer{
    display: flex;
    flex-direction: row;
    width: 99%;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.mySkills{
    display: center;
    display: inline-block;
    
}

.myWorkHex{
  display: block;
 position: relative;
height: 129px;
width: 129px;
}

footer {
color: white;
display: right;
height: 50px;
width: 99%;
background-color: #373738;
text-size-adjust: 25px;
}

.myWork{
  display: grid;
  grid-template-rows: 315px 315px 315px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "case1 case1info"
  "case2 case2info"
  "case3 case3info"
  ;
}

.case1 {
  grid-area: case1;
}

.case2 {
  grid-area: case2;
}

.case3 {
  grid-area: case3;
}

.case1info {
  grid-area: case1info;
}

.case2info {
  grid-area: case2info;
}

.case3info {
  grid-area: case3info;
}





























/*failed attempt!*/
/*#workGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
    "caseStudy studyDescription"
    "caseStudy csButton";
  }

  #caseStudy {
    grid-area: caseStudy;
    background-image: url("../images/furniture1.png");
  }
  
  #studyDescription {
    grid-area: sstudyDescription;
    background-image: url("../images/furniture2.png");
  }
  
  #csButton {
    grid-area: CTA;
    background-image: url("../images/woodbg.png");
    justify-content: space-around;
    cursor: pointer;
  }

  #caseGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 600px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    
    "whiteBear whiteBearData"
    "deptofEd deptEdData"
    "goalAssist goalAssistData" 


    "bookcases bedroom patio"
    "couches couches patio"
    "desks desks desks"
    ;
  }
  */ 
  